* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #0f0f0f;
}
.container {
    max-width: 1200px;
    margin: auto;
}

/*---------------- HEADER ---------------*/

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
    background: rgba(10, 10, 10, 0.9);
    transition: top 1s;
    z-index: 2;
}

header img {
    height: 80px;
}

header nav ul li a {
    font-weight: bold;
    color: white;
    margin-right: 20px;
    font-size: 17px;
    padding-bottom: 10px;
}

header nav ul li a:hover {
    border-bottom: 4px solid #2b6be2;
}

/*---------------- HERO ---------------*/

:root {
    --color: #4973ff;
}

.content {
max-width: 600px;
margin: 0 auto;
padding: 0 20px;
}

.hero {
position: relative;
background: #0f0f0f;
color: white;
height: 100vh;
display: flex;
align-items: center;
overflow: hidden;
box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
}

.hero h1 {
position: relative;
z-index: 1;
font-size: 4.5rem;
margin: 0 0 10px;
line-height: 1;
color: #2b6be2;
margin-bottom: 40px;
}

.hero p {
position: relative;
z-index: 1;
font-size: 20px;
color: white;
line-height: 1.4;
margin-bottom: 10px;
}

/* ========================= */

.waves {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 300px;
background-color: var(--color);
box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
transition: 500ms;
}

.waves::before,
.waves::after {
content: '';
position: absolute;
width: 300vw;
height: 300vw;
top: -65vw;
left: 50%;
transform: translate(-50%, -75%);
}

.waves::before {
border-radius: 44%;
background: #0f0f0f;
animation: waves 8s linear infinite;
}

.waves::after {
border-radius: 44%;
background: #161616;
animation: waves 15s linear infinite;
}

@keyframes waves {
0% {
    transform: translate(-50%, -75%) rotate(0deg);
}

100% {
    transform: translate(-50%, -75%) rotate(360deg);
}
}

.hero button {
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 4px solid #2b6be2;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
    background: #2b6be2;
    position: relative;
    z-index: 1;
}

.hero button:hover {
    background: rgba(43, 107, 226, 0.3);
}


/*--------------------- HOW I AM --------------*/

#howiam {
    height: 80vh;
    background: #222222;
    padding-top: 50px;
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
}

#howiam h1{
    color: #2b6be2;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}

.myinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    background: #252525;
    padding: 20px;
    border-radius: 10px;
    height: 50vh;
}

.text {
    margin-right: 30px;
    width: 500px;
    color: white;
}


/*-------------- SKILLS ------------------*/

#skills {
    height: 100vh;
}

/*-------------- PROJECTS ------------------*/

#myprojects {
    height: 80vh;
    background: #222222;
    padding: 5vh;
}

#myprojects h1 {
    color: #2b6be2;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}

/*-------------- CONTACT ------------------*/

#contact {
    height: 50vh;
    padding: 5vh;
}

#contact h1 {
    color: #2b6be2;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}

form { 
    max-width:600px; 
    margin:50px auto; 
}


.feedback-input {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #2b6be2;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { 
    border:2px solid #2b6be2; 
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: none;
}

[type="submit"] {
    width: 100%;
    background:#2b6be2;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { 
    background:#214ea1; 
}




/*-------------- FOOTER ------------------*/

footer {
    padding-top: 10vh;
    height: 30vh;
    background: #222222;
}

.socialNet {
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.socialNet div{
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.di {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 20px;
}
.wh {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 25px;
}
.ig {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 25px;
}
.li {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 20px;
}

.divDi:hover{
    background: #5865F2;
}
.divDi:hover .di{
    color: white;
}
.divWh:hover{
    background: #1AD03F;
}
.divWh:hover .wh{
    color: white;
}
.divIg:hover{
    background: #C904E6;
}
.divIg:hover .ig{
    color: white;
}
.divLi:hover{
    background: #0077B5;
}
.divLi:hover .li{
    color: white;
}

.cont {
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 20px;
    border-top: 1px solid white;
}



