* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #0f0f0f;
}
.container {
    max-width: 1200px;
    margin: auto;
}

/*---------------- HEADER ---------------*/

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
    background: rgba(10, 10, 10, 0.9);
    transition: top 1s;
    z-index: 2;
}

header img {
    height: 80px;
}

header nav ul li a {
    font-weight: bold;
    color: white;
    margin-right: 20px;
    font-size: 17px;
    padding-bottom: 10px;
}

header nav ul li a:hover {
    border-bottom: 4px solid #2b6be2;
}

/*--------------- HEADER DROP --------------*/
.header2 {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 3;
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
    background: rgba(10, 10, 10, 0.9);
}

.header2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.header2 button {
    font-size: 45px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.header2 img {
    height: 80px;
}

.headerDrop {
    position: fixed;
    z-index: 2;
    translate: 0px 80px;
    height: 92vh;
    width: 100%;
    background: rgba(34, 34, 34, 0.9);
    transition: top 1s;
    top: -110vh;
}

.headerDrop ul {
    height: 100%;
    width: 100%;
}

.headerDrop ul li {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerDrop a {
    padding: 30px 100% 30px 100%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
/*---------------- HERO ---------------*/

:root {
    --color: #4973ff;
}

.content {
max-width: 600px;
margin: 0 auto;
padding: 0 20px;
}

.hero {
position: relative;
background: #0f0f0f;
color: white;
height: 100vh;
display: flex;
align-items: center;
overflow: hidden;
box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
}

.hero h1 {
position: relative;
z-index: 1;
font-size: 4.5rem;
margin: 0 0 10px;
line-height: 1;
color: #2b6be2;
margin-bottom: 40px;
}

.hero p {
position: relative;
z-index: 1;
font-size: 20px;
color: white;
line-height: 1.4;
margin-bottom: 10px;
}

/* ========================= */

.waves {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 300px;
background-color: var(--color);
box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
transition: 500ms;
}

.waves::before,
.waves::after {
content: '';
position: absolute;
width: 300vw;
height: 300vw;
top: -65vw;
left: 50%;
transform: translate(-50%, -75%);
}

.waves::before {
border-radius: 44%;
background: #0f0f0f;
animation: waves 8s linear infinite;
}

.waves::after {
border-radius: 44%;
background: #161616;
animation: waves 15s linear infinite;
}

@keyframes waves {
0% {
    transform: translate(-50%, -75%) rotate(0deg);
}

100% {
    transform: translate(-50%, -75%) rotate(360deg);
}
}

.hero button {
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 4px solid #2b6be2;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
    background: #2b6be2;
    position: relative;
    z-index: 1;
}

.hero button:hover {
    background: rgba(43, 107, 226, 0.3);
}


/*--------------------- HOW I AM --------------*/

#howiam {
    height: 80vh;
    background: #222222;
    padding-top: 50px;
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128, 0.4);
}

#howiam h1{
    color: #2b6be2;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}

.myinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    background: #252525;
    padding: 20px;
    border-radius: 10px;
    height: 50vh;
}

.text {
    margin-right: 30px;
    max-width: 500px;
    color: white;
}


/*-------------- SKILLS ------------------*/

#skills {
    height: 100vh;
}


/*-------------- PROJECTS ------------------*/

#myprojects {
    height: 80vh;
    background: #222222;
    padding: 5vh;
}

#myprojects h1 {
    color: #2b6be2;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}

.projects {
    height: 65vh;
    background: #252525;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.projects-wrap{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.project{
    width: 300px;
    height: 150px;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius:3px;
    transition:.2s all;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.fjr .project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Projects/FJR.png");
    background-size: cover;
}
.trrg .project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Projects/trrgtoday.png");
    background-size: cover;
}
.vans .project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Projects/vans.png");
    background-size: cover;
}
.projects-wrap img {
    height: 150px;
    width: 300px;
    position: absolute;
}
.projects-wrap p {
    position: relative;
    font-weight: bold;
    color: white;
}
.projects-wrap:hover .project{
filter:blur(3px);
opacity:.5;
transform: scale(.98);
box-shadow:none;
}
.projects-wrap:hover .project:hover{
transform:scale(1);
filter:blur(0px);
opacity:1;
box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

/*-------------- CONTACT ------------------*/

#contact {
    padding-top: 40px;
}

#contact h1 {
    color: #2b6be2;
    text-align: center;
    padding-bottom: 30px;
    font-size: 35px;
}

form { 
    max-width:600px; 
    margin:50px auto; 
}


.feedback-input {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #2b6be2;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { 
    border:2px solid #2b6be2; 
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: none;
}

[type="submit"] {
    width: 100%;
    background:#2b6be2;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { 
    background:#214ea1; 
}




/*-------------- FOOTER ------------------*/

footer {
    padding-top: 10vh;
    height: 30vh;
    background: #222222;
}

.socialNet {
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.socialNet div{
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.di {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 20px;
}
.wh {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 25px;
}
.ig {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 25px;
}
.li {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 20px;
}

.gi {
    color: #2b6be2;
    transition: 0.5s;
    font-size: 20px;
}

.divDi:hover{
    background: #5865F2;
}
.divDi:hover .di{
    color: white;
}
.divWh:hover{
    background: #1AD03F;
}
.divWh:hover .wh{
    color: white;
}
.divIg:hover{
    background: #C904E6;
}
.divIg:hover .ig{
    color: white;
}
.divLi:hover{
    background: #0077B5;
}
.divLi:hover .li{
    color: white;
}
.divGi:hover {
    background: #171515;
}
.divGi:hover .gi{
    color: white;
}

.cont {
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 20px;
    border-top: 1px solid white;
}

/*------------------ RESPONSIVE -----------*/

@media (max-width: 1250px) {
    header li {
        padding-left: 20px;
    }

    .imgLogo {
        padding-right: 20px;
    }

}

@media (max-width: 1150px) {
    .myinfo {
        flex-direction: column;
        max-width: 800px;
        height: 80vh;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .myinfo img {
        height: 50%;
    }

    #howiam {
        height: 100vh;
    }
}


@media (max-width: 900px) {
    header {
        display: none;
    }
    .header2 {
        display: inline;
    }
    .waves {
        height: 200px;
    }
    .myinfo {
        margin: 0px 10px 0px 10px;
    }
}

@media (max-width: 650px) {
    #contact form {
        margin: 50px 15px 50px 15px;
    }
}




