.skills-page {
    margin: 100px 0;
}
.skills-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-page h2 {
    color: #005B9A;
    margin-bottom: 40px;
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.skill {
    margin: 5px;
    width: 45%;
    background: #2e3031;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 2px 0px rgb(113, 118, 119);
    cursor: pointer;
    transition: 0.5s;
}
.skill:hover {
    scale: 1.05;
}
.skill span {
    color: #C4BFB7;
    font-weight: bold;
    margin-left: 20px;
}
.skill img {
    height: 50px;
}
.skill span div {
    font-weight: normal;
    margin-top: 10px;
}